<CompanyStyles @metadata={{@model.metadata}} />
<ThemeWrapper @theme={{theme}}>
  <div class="poster-frame">
    <header class="header">
      <HeaderLogo @logoUrl={{@model.metadata.logotype}} @alt={{@model.metadata.name}} />
      <h1 class="header__title">
        {{@model.metadata.name}}
        <span>·</span> Recruitment highlights
      </h1>
      <BasicDropdown @renderInPlace="true" as |dd|>
        <dd.Trigger class="header__share">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
          >
            <path d="M16 2v7h-2v-5h-12v16h12v-5h2v7h-16v-20h16zm2 9v-4l6 5-6 5v-4h-10v-2h10z"></path>
          </svg>
        </dd.Trigger>
        <dd.Content>
          {{#fb-share-button}}Facebook{{/fb-share-button}}
          {{#linkedin-share-button}}Linkedin{{/linkedin-share-button}}
        </dd.Content>
      </BasicDropdown>
    </header>
    <div class="page-wrapper">
      <section class="cover">
        <h2 class="cover__headline u-text-shadow a__zoomin">
          2019
          <span class="u-text-shadow--small u-box-shadow">
            · Year in review ·
          </span>
          <lottie-player
            class="a__lottie--poppers"
            src="/assets/lottie/jumpers.json"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px;"
            loop
            autoplay
          ></lottie-player>
        </h2>
        <a href="#numbers" class="cover__directions">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24">
            <path d="M0 12l9-8v6h15v4h-15v6z"></path>
          </svg>
          This way
        </a>
        <button class="cover__switch" {{action "handleThemeChange"}}>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm2 0c0-5.292 4.113-9.612 9.315-9.965-3.205 2.154-5.315 5.813-5.315 9.965s2.11 7.811 5.315 9.965c-5.202-.353-9.315-4.673-9.315-9.965z"
            ></path>
          </svg>
        </button>
      </section>
      <section class="numbers" id="numbers">
        <div class="number number--visitors">
          <span class="intro">
            Our
            <strong>
              career site
            </strong>
            <span class="u-nowrap">had over</span>
          </span>
          <span class="number__item">
            {{round @model.visits.count}}
          </span>
          visitors browsing
        </div>
        <div class="number number--candidate-type">
          <div class="number__wrapper">
            <span class="number__item">
              {{@model.sourced.count}}
              <strong>
                Sourced
              </strong>
            </span>
            <span class="number__item">
              {{@model.connected.count}}
              <strong>
                Connected
              </strong>
            </span>
            <span class="number__item">
              {{@model.applied.count}}
              <strong>
                Applied
              </strong>
            </span>
          </div>
        </div>
        {{#if (gt @model.hires.count 0)}}
          <div class="number number--hires">
            <span class="number__item">
              <Counter @value={{@model.hires.count}} />
            </span>
            <svg class="heart" xmlns="http://www.w3.org/2000/svg" width="400" height="400" viewBox="0 0 24 24">
              <path
                d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
              ></path>
            </svg>
            <span class="intro">
              <strong>
                Hires
              </strong>
            </span>
            {{#if (gt @model.daysToHire.count 0)}}
              <div class="number number--days-to-hire">
                <span>
                  Average days
                </span>
                to hire
                <strong>
                  {{@model.daysToHire.count}}
                </strong>
              </div>
            {{/if}}
          </div>
        {{/if}}
        <div class="collaborate">
          <div class="number number--employees">
            <span class="intro">
              We have
            </span>
            <span class="number__item">
              <Counter @value={{@model.activeEmployees.count}} />
            </span>
            <strong>
              Active employees
            </strong>
            in Teamtailor
          </div>
          <div class="number number--activities">
            <span class="intro">
              And
            </span>
            <span class="number__item">
              {{round @model.activities.count}}
            </span>
            <strong>
              Collaborative activities
            </strong>
            such as interviews, reviews and candidate communication
          </div>
          {{#if (eq @theme "light")}}
            <lottie-player
              class="a__lottie--party-penguin"
              src="/assets/lottie/swing-light.json"
              background="transparent"
              speed="1"
              style="width: 150px; height: 150px;"
              loop
              autoplay
            ></lottie-player>
          {{else}}
            <lottie-player
              class="a__lottie--party-penguin"
              src="/assets/lottie/swing-dark.json"
              background="transparent"
              speed="1"
              style="width: 150px; height: 150px;"
              loop
              autoplay
            ></lottie-player>
          {{/if}}
        </div>
        {{#if (gt @model.tshirts.count 0)}}
          <div class="number number--shirts">
            <span class="number__item">
              {{@model.tshirts.count}}
            </span>
            <span class="intro">
              <strong>
                T-shirts earned
                <a href="#footnote" class="footnote">
                  *
                </a>
              </strong>
            </span>
            <svg
              width="400"
              height="400"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
            >
              <path
                d="M19 24h-14v-16l-2 1.084-3-3.612 6-5.472h12l6 5.505-3 3.647-2-1.152v16zm-11-23h8c-.365 1.846-1.792 3.5-4 3.5s-3.635-1.708-4-3.5z"
              ></path>
            </svg>
          </div>
        {{/if}}
      </section>
      <section class="join-us">
        <div class="open-positions">
          <div class="open-positions__wrapper">
            <span class="open-positions__number">
              {{@model.openJobs.count}}
            </span>
            <strong>
              Open positions
            </strong>
          </div>
        </div>
        <h3 class="join-us__title">
          Want to join our team?
          <lottie-player
            class="a__lottie--happy-blob"
            src="/assets/lottie/happy.json"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px;"
            loop
            autoplay
          ></lottie-player>
        </h3>
        <a href={{@model.metadata.url}} class="join-us__link">
          Visit our career site
        </a>
      </section>
      <section class="teamtailor">
        <h3 class="teamtailor__title u-text-shadow--small">
          Happy <span class="u-nowrap">recruiting 🎉</span>
        </h3>
        <p class="teamtailor__body">
          From your friends at
        </p>
        <a class="teamtailor__logo" href="https://www.teamtailor.com/en/">
          <svg
            width="145px"
            height="32px"
            viewBox="0 0 145 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M21.3506806,1.7014783 C22.9274607,1.64959466 24.2484031,1.64959466 25.3119895,1.7014783 C26.3755759,1.75412494 27.0132723,1.88383405 27.227356,2.09136862 C27.4748429,2.36986171 27.6076963,2.81163567 27.6259162,3.4182165 C27.643377,4.02479733 27.5811257,4.6405341 27.4399215,5.26466381 C27.2979581,5.88955651 27.0945026,6.42746781 26.8280366,6.87763472 C26.5615707,7.32856462 26.2510733,7.53686218 25.8973037,7.50176443 C24.5497906,7.32856462 23.0428534,7.19809251 21.3772513,7.11111111 C19.7108901,7.0248927 17.9913874,6.99971388 16.2195026,7.03328565 C16.5026702,7.20724845 16.7774869,7.41554602 17.0431937,7.65741536 C17.3089005,7.90081068 17.521466,8.15183596 17.6808901,8.41201717 C17.8403141,8.67143538 17.9374869,8.92398665 17.9731675,9.16585598 C18.008089,9.40925131 17.9374869,9.63433476 17.7606021,9.84263233 C15.6683508,12.0972818 13.8516754,14.3427754 12.3098168,16.579876 C10.7679581,18.8169766 9.54494764,20.8198379 8.64078534,22.5884597 C7.7373822,24.3578445 7.18698953,25.7716738 6.99264398,26.8291845 C6.79753927,27.8866953 7.03667539,28.3299952 7.71081152,28.1560324 C8.38342932,27.9820696 8.59599476,28.0858369 8.34850785,28.4673343 C8.10026178,28.8495947 7.66526178,29.3096805 7.04578534,29.8460658 C6.42554974,30.3855031 5.75141361,30.8875536 5.02489529,31.3552694 C4.50653641,31.6891724 4.11004352,31.9040826 3.83541661,32 L3.83541661,32 L3.06314913,32 C2.85038175,31.952682 2.62704314,31.8765094 2.39287958,31.7718646 C1.96698953,31.5811159 1.5767801,31.3552694 1.22301047,31.0950882 C0.867722513,30.83567 0.575445026,30.5754888 0.345418848,30.3153076 C0.114633508,30.0551264 0,29.8727706 0,29.7690033 C0,29.2143062 0.230026178,28.3467811 0.691596859,27.1687172 C1.15240838,25.9898903 1.77264398,24.6538865 2.55306283,23.1629948 C3.33196335,21.672103 4.20120419,20.1018598 5.15850785,18.4545541 C6.11581152,16.8080114 7.10803665,15.2377682 8.13594241,13.7461135 C9.16384817,12.2552217 10.1568325,10.9199809 11.1141361,9.74039103 C12.0706806,8.56156414 12.9217016,7.67725322 13.6664398,7.08745827 C11.7518325,7.1568908 9.96096859,7.29499285 8.29536649,7.50329041 C6.62900524,7.71082499 5.24657068,8.00610396 4.14806283,8.38760134 C3.5445288,8.59513591 3.09206806,8.56080114 2.79143979,8.28307105 C2.49005236,8.00534096 2.29494764,7.64139247 2.20688482,7.19046257 C2.11806283,6.73953267 2.12717277,6.28860277 2.2334555,5.83767287 C2.33973822,5.38674297 2.4991623,5.10901288 2.71172775,5.00524559 C3.45646597,4.55507868 4.55497382,4.13848355 6.00876963,3.75698617 C7.46256545,3.37548879 9.06667539,3.04587506 10.8218586,2.76814497 C12.5770419,2.49117787 14.3754974,2.25693848 16.2195026,2.06618979 C18.0619895,1.87544111 19.7723822,1.75336195 21.3506806,1.7014783 Z M118.366309,11.4556032 C118.932644,11.351836 119.580209,11.4128755 120.307487,11.637959 C121.033246,11.8645684 121.733953,12.1766333 122.408089,12.5749165 C123.081466,12.9739628 123.675131,13.4416786 124.189843,13.9795899 C124.703037,14.5175012 125.014293,15.0462566 125.119058,15.566619 C125.22534,16.1907487 125.092487,17.014783 124.720497,18.037196 C124.348508,19.061135 123.825445,20.1537434 123.152068,21.3150215 C122.478691,22.4778255 121.680812,23.6650453 120.759948,24.878207 C119.837565,26.0928946 118.889372,27.193896 117.914607,28.1819742 C116.939084,29.1708155 115.982539,29.9948498 115.043455,30.6525513 C114.103613,31.3125417 113.261702,31.6932761 112.517723,31.7978064 C112.198874,31.8313782 111.710733,31.7535527 111.055576,31.562804 C110.398901,31.3728183 109.742984,31.1134001 109.087827,30.7837864 C108.430393,30.4541726 107.837487,30.0894611 107.305314,29.6904149 C106.77466,29.2913686 106.472513,28.9190272 106.401911,28.5718646 C106.260707,27.8432046 106.349529,26.9413448 106.668377,25.8670482 C106.986466,24.7919886 107.457147,23.6474964 108.076623,22.4328088 C108.696099,21.2188841 109.433246,19.9881736 110.284267,18.7391512 C111.134529,17.4901288 112.029581,16.3547926 112.969424,15.3316166 C113.907749,14.3092036 114.848351,13.4500715 115.787435,12.7565093 C116.726518,12.0629471 117.586649,11.629566 118.366309,11.4556032 Z M25.0979058,11.352599 C25.6300785,11.1793991 26.2768848,11.1702432 27.0390838,11.3266571 C27.8012827,11.4823081 28.5194503,11.7257034 29.1928272,12.0545541 C29.8662042,12.3841679 30.4340576,12.7748212 30.8948691,13.2249881 C31.3549215,13.676681 31.5674869,14.110062 31.5325654,14.5258941 C31.497644,15.0462566 31.1954974,15.8268002 30.6291623,16.866762 C30.0613089,17.9074869 29.3439005,18.9733906 28.4754188,20.065999 C27.606178,21.1586075 26.675445,22.1558417 25.6832199,23.0577015 C24.6902356,23.9603243 23.7511518,24.5150215 22.8652094,24.722556 C22.297356,24.8621841 21.7029319,24.7668097 21.0834555,24.436433 C20.4624607,24.1083453 19.9037173,23.7520267 19.4079843,23.3705293 C18.5212827,25.0353839 17.9724084,26.4492132 17.7598429,27.6104912 C17.5472775,28.7732952 17.9010471,29.388269 18.8234293,29.4577015 C19.1065969,29.4577015 19.4884555,29.3623271 19.9667277,29.1715784 C20.445,28.9815928 20.9855236,28.7214115 21.5882984,28.3917978 C22.1910733,28.0629471 22.8386387,27.6722938 23.5294764,27.2206009 C24.2210733,26.770434 24.9202618,26.3027182 25.6300785,25.8166905 C26.0908901,25.4695279 26.3831675,25.3474487 26.5076702,25.451979 C26.6314136,25.5549833 26.5160209,25.8159275 26.1622513,26.2317597 C25.5943979,26.8909871 24.9658115,27.5235098 24.2742147,28.1300906 C23.5826178,28.7366714 22.881911,29.2829757 22.1736126,29.7690033 C21.4637958,30.254268 20.772199,30.6525513 20.0995812,30.9653791 C19.425445,31.277444 18.8575916,31.4506438 18.3975393,31.4857415 C18.0786911,31.5200763 17.6535602,31.4857415 17.1213874,31.3812113 C16.5899738,31.277444 16.0752618,31.1134001 15.5795288,30.8875536 C15.0830366,30.6617072 14.6396859,30.393133 14.2502356,30.0810682 C13.8600262,29.7690033 13.6125393,29.4226037 13.5062565,29.0403433 C13.2580105,28.070577 13.2580105,27.0031474 13.5062565,25.8411063 C13.7537435,24.6798283 14.1523037,23.4994754 14.7026963,22.3038627 C15.2523298,21.1074869 15.9431675,19.9195041 16.7767277,18.7399142 C17.6087696,17.5610873 18.4954712,16.4768717 19.4353141,15.4880305 C20.3736387,14.4999523 21.3309424,13.6415832 22.306466,12.9129232 C23.2812304,12.1842632 24.2119634,11.6646638 25.0979058,11.352599 Z M141.337801,11.1702432 C141.798613,11.1534573 142.276885,11.2144969 142.773377,11.352599 C143.26911,11.491464 143.730681,11.7165474 144.155812,12.0286123 C144.574262,12.3357732 144.855175,12.7272033 145,13.202175 L145,13.202175 L145,13.353262 C144.960328,13.5095597 144.820642,13.7440598 144.580942,14.0574154 C144.262853,14.4732475 143.845314,14.9508822 143.331361,15.4880305 C142.816649,16.0267048 142.259424,16.5897949 141.656649,17.1795899 C141.053874,17.7701478 140.503482,18.324082 140.008508,18.8444444 C139.511257,19.3648069 139.104346,19.7981879 138.785497,20.1445875 C138.466649,20.4917501 138.341387,20.6992847 138.413508,20.7687172 C138.448429,20.803052 138.590393,20.7771102 138.839398,20.6901288 C139.086885,20.6031474 139.334372,20.5260849 139.583377,20.4558894 C139.830864,20.3879828 140.008508,20.369671 140.114791,20.4040057 C140.221073,20.4391035 140.149712,20.6130663 139.902225,20.9243681 C139.618298,21.3066285 139.27212,21.7049118 138.865969,22.1207439 C138.457539,22.5373391 138.049869,22.9195994 137.642958,23.2652361 C137.235288,23.6123987 136.836728,23.8985217 136.446518,24.1236052 C136.05555,24.3502146 135.719241,24.4616118 135.436073,24.4616118 C135.116466,24.4616118 134.788508,24.3753934 134.452199,24.2014306 C134.114372,24.0282308 133.795524,23.8206962 133.494895,23.5773009 C133.193508,23.3354316 132.954372,23.0752504 132.776728,22.7975203 C132.599084,22.5205532 132.511021,22.260372 132.511021,22.0177396 C132.511021,21.7758703 132.697016,21.376824 133.069005,20.8206009 C133.441754,20.2666667 133.866885,19.6761087 134.345157,19.052742 C134.824188,18.4286123 135.311571,17.8037196 135.808063,17.1803529 C136.304555,16.5554602 136.676545,16.0350978 136.924791,15.6192656 C135.931806,16.5211254 134.833298,17.6144969 133.627749,18.8970911 C132.422199,20.1796853 131.216649,21.524082 130.011859,22.9279924 C128.80555,24.3334287 127.662251,25.7205532 126.581204,27.0901288 C125.500157,28.4612303 124.622565,29.6835479 123.949188,30.7578445 L123.949188,30.7578445 L123.736623,31.1744397 C123.55822,31.4521698 123.301623,31.5299952 122.965314,31.4086791 C122.628246,31.2873629 122.291178,31.0622794 121.954869,30.7326657 C121.617801,30.403052 121.317932,30.0375775 121.051466,29.6392942 C120.785759,29.241011 120.652906,28.9197902 120.652906,28.6771578 C120.652906,28.1567954 120.919372,27.3678588 121.450785,26.3095851 C121.982199,25.2520744 122.663927,24.0717215 123.497487,22.7715784 C124.330288,21.4714354 125.25267,20.1361946 126.263115,18.765856 C127.27356,17.3962804 128.238455,16.148021 129.160838,15.0203147 C130.082461,13.8933715 130.916021,12.9739628 131.66,12.2628517 C132.403979,11.5525036 132.917932,11.196185 133.201099,11.195422 C133.448586,11.195422 133.786414,11.2732475 134.211545,11.4296614 C134.636675,11.5860753 135.043586,11.776824 135.434555,12.0019075 C135.823246,12.2277539 136.126152,12.4619933 136.337958,12.7046257 C136.550524,12.947258 136.550524,13.1555556 136.337958,13.3287554 C136.065343,13.5958035 135.701218,13.9563186 135.245845,14.4103004 L134.610105,15.0454936 C133.847906,15.8084883 132.989293,16.7538388 132.03123,17.8807821 C131.074686,19.0084883 130.063482,20.2742966 129.000654,21.67897 C127.937827,23.0836433 126.873482,24.6004769 125.809895,26.2309967 C126.979764,24.6706724 128.274136,23.0836433 129.691492,21.4714354 C131.108848,19.8584645 132.501152,18.3584168 133.866126,16.9712923 C135.23034,15.5841679 136.489031,14.3877921 137.642199,13.381402 C138.793089,12.3757749 139.688901,11.6997616 140.327356,11.352599 C140.539921,11.2488317 140.87623,11.1877921 141.337801,11.1702432 Z M54.2930105,11.193896 C54.5404974,11.193896 54.8775654,11.2717215 55.3034555,11.4281354 C55.7293455,11.5845494 56.1362565,11.775298 56.526466,12.0003815 C56.9159162,12.2262279 57.2180628,12.4604673 57.4306283,12.7030997 C57.6431937,12.945732 57.6431937,13.1540296 57.4306283,13.3272294 C57.0396597,13.7094897 56.4543455,14.3084406 55.675445,15.122556 C54.8957853,15.9374344 54.0090838,16.9346686 53.0168586,18.1134955 C52.0238743,19.2930854 50.960288,20.6199332 49.8260995,22.0932761 C48.6911518,23.567382 47.592644,25.1544111 46.5290576,26.8536004 L46.531,26.85 L47.015089,26.2004158 C48.0021038,24.8883897 49.078848,23.5424043 50.2456419,22.1621379 L50.8365445,21.4691464 C52.4315445,19.6143062 53.9825131,17.9235098 55.4894503,16.3967573 C56.9956283,14.8715308 58.3514921,13.6225083 59.5570419,12.651216 C60.7618325,11.6806867 61.5771728,11.194659 62.0030628,11.194659 C62.2505497,11.194659 62.5876178,11.2724845 63.0135079,11.4288984 C63.4386387,11.5853124 63.8463089,11.776061 64.2365183,12.0011445 C64.6259686,12.2269909 64.9281152,12.4612303 65.1406806,12.7038627 C65.3532461,12.946495 65.3532461,13.1547926 65.1406806,13.3279924 C64.749712,13.7102527 64.1643979,14.3092036 63.3854974,15.123319 C62.6058377,15.9381974 61.7191361,16.9354316 60.726911,18.1142585 C59.7339267,19.2938484 58.6703403,20.6206962 57.5361518,22.0940391 C56.4012042,23.568145 55.3026963,25.1551741 54.2391099,26.8543634 L54.242,26.85 L54.7251414,26.2011788 C55.7121562,24.8891527 56.7889004,23.5431673 57.9556943,22.1629009 L58.5465969,21.4699094 C60.1415969,19.6150691 61.6925654,17.9242728 63.1995026,16.3975203 C64.7049215,14.8722938 66.0615445,13.6232713 67.2670942,12.651979 C68.4718848,11.6814497 69.2872251,11.195422 69.7131152,11.195422 L69.7131152,11.195422 L69.7662565,11.195422 C70.0137435,11.195422 70.3424607,11.2732475 70.7501309,11.4296614 C71.1570419,11.5860753 71.5381414,11.776824 71.8934293,12.0019075 C72.2464398,12.2277539 72.5220157,12.4619933 72.7171204,12.7046257 C72.911466,12.947258 72.9205759,13.1555556 72.7436911,13.3287554 C72.495445,13.5721507 72.060445,14.0833572 71.4409686,14.8639008 C70.820733,15.6436814 70.1291361,16.5463042 69.3676963,17.5687172 C68.6047382,18.5918932 67.8076178,19.6677158 66.9748168,20.794659 C66.1412565,21.9216023 65.4056283,22.979113 64.7679319,23.9679542 C64.1294764,24.9567954 63.6238743,25.7976156 63.2518848,26.4911779 C62.8798953,27.1855031 62.7645026,27.6020982 62.906466,27.7402003 C62.9413874,27.775298 63.0833508,27.7402003 63.332356,27.63567 C63.5798429,27.5319027 63.8273298,27.4456843 64.0763351,27.3754888 C64.323822,27.3075823 64.5098168,27.2892704 64.6343194,27.3236052 C64.7580628,27.3587029 64.6958115,27.5326657 64.4483246,27.8439676 C64.1287173,28.2262279 63.7741885,28.6344301 63.3847382,29.0670482 C62.9945288,29.5011922 62.5876178,29.8918455 62.1617277,30.2374821 C61.7365969,30.5846447 61.3281675,30.8707678 60.9387173,31.0958512 C60.5477487,31.3224607 60.212199,31.4338579 59.9282723,31.4338579 C59.6094241,31.4338579 59.2807068,31.3476395 58.9443979,31.1736767 C58.6065707,31.0004769 58.2877225,30.7921793 57.9870942,30.549547 C57.6857068,30.3069146 57.4465707,30.0375775 57.2696859,29.7430615 C57.0920419,29.4485455 57.0039791,29.1792084 57.0039791,28.9358131 C57.0039791,28.4856462 57.2157853,27.8180258 57.6416754,26.9329518 C58.0668063,26.0494039 58.6156806,25.0605627 59.2898168,23.9679542 C59.9631937,22.8753457 60.7253927,21.7232237 61.5764136,20.508536 C62.4274346,19.2946113 63.2784555,18.1333333 64.1309948,17.022413 C63.2086126,17.9242728 62.2247382,18.9466857 61.1801309,20.0919409 C60.1340052,21.236433 59.1060995,22.4152599 58.0956545,23.6291845 C57.0852094,24.8438722 56.1362565,26.039485 55.2503141,27.2183119 C54.3636126,28.3986648 53.6014136,29.4744874 52.9637173,30.4450167 L52.9637173,30.4450167 L52.5378272,31.1729137 C52.3601832,31.4506438 52.1028272,31.5284692 51.7665183,31.4071531 C51.4286911,31.2858369 51.0923822,31.0607535 50.7560733,30.7311397 C50.4190052,30.401526 50.1176178,30.0360515 49.851911,29.6377682 C49.5862042,29.239485 49.4533508,28.9182642 49.4533508,28.6756319 C49.4533508,28.224702 49.6568063,27.5738674 50.0652356,26.7246543 C50.4729058,25.8746781 51.0043194,24.9125417 51.6609948,23.8367191 C52.3161518,22.7616595 53.0601309,21.6347163 53.8936911,20.4551264 C54.7264921,19.2762995 55.5691623,18.1318073 56.4201832,17.02165 L56.419,17.022 L56.0061012,17.430346 C55.3096195,18.1239483 54.5814324,18.8797246 53.8218164,19.6971189 L53.3622775,20.1949452 C52.2804712,21.3745351 51.2259948,22.5976156 50.198089,23.8626609 C49.1694241,25.1292322 48.2045288,26.3683357 47.3003665,27.5822604 C46.3962042,28.796948 45.6431152,29.8903195 45.0403403,30.8600858 C44.9689791,30.9302814 44.898377,31.0340486 44.8277749,31.1721507 C44.6850524,31.4498808 44.4459162,31.5277062 44.1096073,31.4063901 C43.7717801,31.2850739 43.4263613,31.0599905 43.0725916,30.7303767 C42.7173037,30.400763 42.4075654,30.0352885 42.1418586,29.6370052 C41.8761518,29.238722 41.7432984,28.9175012 41.7432984,28.6748689 C41.7432984,28.1545064 42.0181152,27.3655699 42.5677487,26.3072961 C43.116623,25.2497854 43.8082199,24.0694325 44.6417801,22.7692895 C45.473822,21.4691464 46.3870942,20.1339056 47.3800785,18.763567 C48.3723037,17.3939914 49.3387173,16.145732 50.2785602,15.0180258 C51.2168848,13.8910825 52.050445,12.9716738 52.7777225,12.2605627 C53.5034817,11.5502146 54.0090838,11.193896 54.2930105,11.193896 Z M41.2103665,10.8329995 C41.493534,10.76433 41.7949215,10.7895088 42.1137696,10.910825 C42.4326178,11.0321412 42.7431152,11.196948 43.0445026,11.4044826 C43.3451309,11.6135432 43.6472775,11.8470196 43.9486649,12.1072008 C44.2492932,12.366619 44.5074084,12.6008584 44.7199738,12.8091559 C45.2863089,12.2544588 45.712199,11.9767287 45.9961257,11.9782546 C46.2436126,11.9782546 46.5723298,12.0560801 46.98,12.212494 C47.3876702,12.368145 47.7778796,12.5505007 48.1498691,12.7587983 C48.5218586,12.9663329 48.8057853,13.1921793 49.0008901,13.4348116 C49.1952356,13.677444 49.2043455,13.9032904 49.0274607,14.110825 C48.7792147,14.3893181 48.3631937,14.8913686 47.7778796,15.6200286 C47.1925654,16.3486886 46.5457592,17.1895088 45.8367016,18.1432523 C45.1268848,19.0977587 44.3912565,20.1125417 43.6298168,21.1868383 C42.8668586,22.2618979 42.1843717,23.2598951 41.582356,24.1777778 C40.9795812,25.0979495 40.5187696,25.886886 40.1999215,26.5453505 C39.8810733,27.204578 39.7922513,27.6036242 39.9342147,27.7417263 C39.9691361,27.776824 40.1110995,27.7417263 40.3593455,27.637196 C40.6068325,27.5334287 40.8558377,27.4472103 41.1040838,27.3770148 C41.3515707,27.3091082 41.5375654,27.2907964 41.6620681,27.3251311 C41.7858115,27.3602289 41.7235602,27.5341917 41.4760733,27.8454936 C41.156466,28.2277539 40.8019372,28.6359561 40.4124869,29.0685742 C40.0222775,29.5027182 39.6153665,29.8933715 39.1894764,30.2390081 C38.7643455,30.5861707 38.3559162,30.8722938 37.966466,31.0973772 C37.5754974,31.3239866 37.2391885,31.4353839 36.9560209,31.4353839 C36.6364136,31.4353839 36.3084555,31.3491655 35.9721466,31.1752027 C35.6350785,31.0020029 35.3154712,30.7937053 35.0148429,30.551073 C34.7134555,30.3084406 34.4743194,30.0391035 34.2974346,29.7445875 C34.1197906,29.4500715 34.0317277,29.1807344 34.0317277,28.9373391 C34.0317277,28.5917024 34.1380105,28.1407725 34.3505759,27.5853124 C34.5631414,27.0313782 34.8645288,26.4072485 35.2547382,25.7129232 C34.5456806,26.475918 33.845733,27.204578 33.1541361,27.8973772 C32.4632984,28.5917024 31.8423037,29.1982833 31.2934293,29.7186457 C30.7430366,30.2390081 30.2647644,30.6548402 29.8570942,30.9676681 C29.4494241,31.27897 29.1746073,31.4353839 29.0334031,31.4353839 C28.7137958,31.4353839 28.3858377,31.3491655 28.0495288,31.1752027 C27.7117016,31.0020029 27.3928534,30.7937053 27.0922251,30.551073 C26.7900785,30.3084406 26.5509424,30.0391035 26.3740576,29.7445875 C26.1971728,29.4500715 26.1083508,29.1807344 26.1083508,28.9373391 C26.1083508,28.4528374 26.3209162,27.6982356 26.7460471,26.6750596 C27.1719372,25.6518836 27.7572513,24.5073915 28.5012304,23.2408202 C29.2459686,21.9750119 30.1136911,20.65732 31.1066754,19.2869814 C32.0989005,17.9174058 33.1541361,16.6424416 34.2708639,15.4628517 C35.3875916,14.2847878 36.5392408,13.2700048 37.7273298,12.4200286 C38.9146597,11.5700525 40.0754188,11.0405341 41.2103665,10.8329995 Z M88.482644,10.8329995 C88.7658115,10.76433 89.0679581,10.7895088 89.3868063,10.910825 C89.7056545,11.0321412 90.0161518,11.196948 90.3175393,11.4044826 C90.6174084,11.6135432 90.919555,11.8477825 91.2209424,12.1072008 C91.5223298,12.366619 91.780445,12.6008584 91.9922513,12.8091559 C92.5585864,12.2544588 92.9837173,11.9767287 93.2691623,11.9782546 C93.5166492,11.9782546 93.8446073,12.0568431 94.2522775,12.212494 C94.6599476,12.368145 95.0501571,12.5505007 95.4221466,12.7587983 C95.7948953,12.9663329 96.0780628,13.1921793 96.2731675,13.4348116 C96.4675131,13.677444 96.476623,13.9032904 96.2997382,14.110825 C96.0514921,14.3893181 95.6354712,14.8913686 95.0501571,15.6200286 C94.4656021,16.3486886 93.8180366,17.1895088 93.1089791,18.1432523 C92.4006806,19.0977587 91.6650524,20.1125417 90.9028534,21.1868383 C90.1398953,22.2618979 89.4581675,23.2598951 88.8553927,24.1777778 C88.2526178,25.0979495 87.7925654,25.886886 87.4737173,26.5453505 C87.1541099,27.204578 87.0645288,27.6036242 87.2072513,27.7417263 C87.2421728,27.776824 87.3848953,27.7417263 87.6323822,27.637196 C87.8798691,27.5334287 88.1288743,27.4472103 88.3771204,27.3770148 C88.6246073,27.3091082 88.8106021,27.2907964 88.9351047,27.3251311 C89.0588482,27.3602289 88.9965969,27.5341917 88.7491099,27.8454936 C88.4295026,28.2277539 88.075733,28.6359561 87.6855236,29.0685742 C87.2960733,29.5027182 86.8884031,29.8933715 86.4632723,30.2390081 C86.0381414,30.5861707 85.629712,30.8722938 85.2402618,31.0973772 C84.8492932,31.3239866 84.5129843,31.4353839 84.2298168,31.4353839 C83.9109686,31.4353839 83.5822513,31.3491655 83.2459424,31.1752027 C82.9081152,31.0020029 82.589267,30.7937053 82.2886387,30.551073 C81.9880105,30.3084406 81.747356,30.0391035 81.5712304,29.7445875 C81.3928272,29.4500715 81.3047644,29.1807344 81.3047644,28.9373391 C81.3047644,28.5917024 81.4110471,28.1407725 81.6243717,27.5853124 C81.836178,27.0313782 82.1368063,26.4072485 82.5277749,25.7129232 C81.8179581,26.475918 81.1180105,27.204578 80.4271728,27.8973772 C79.7355759,28.5917024 79.1153403,29.1982833 78.5657068,29.7186457 C78.0160733,30.2390081 77.5370419,30.6548402 77.1293717,30.9676681 C76.7217016,31.27897 76.447644,31.4353839 76.3056806,31.4353839 C75.9860733,31.4353839 75.6581152,31.3491655 75.3218063,31.1752027 C74.9839791,31.0020029 74.6651309,30.7937053 74.3645026,30.551073 C74.0631152,30.3084406 73.8232199,30.0391035 73.6463351,29.7445875 C73.4694503,29.4500715 73.3806283,29.1807344 73.3806283,28.9373391 C73.3806283,28.4528374 73.5931937,27.6982356 74.0183246,26.6750596 C74.4434555,25.6518836 75.0295288,24.5073915 75.7735079,23.2408202 C76.5182461,21.9750119 77.3859686,20.65732 78.3789529,19.2869814 C79.371178,17.9174058 80.4264136,16.6424416 81.5431414,15.4628517 C82.6598691,14.2847878 83.8122775,13.2700048 84.9996073,12.4200286 C86.1876963,11.5700525 87.3484555,11.0405341 88.482644,10.8329995 Z M118.003842,0 C118.217982,0.000840125894 118.515847,0.0476586361 118.898482,0.14115403 C119.394215,0.26323319 119.855026,0.453981879 120.280916,0.713400095 C120.706806,0.973581307 121.032487,1.25970434 121.263272,1.57176919 C121.494058,1.88383405 121.467487,2.1958989 121.184319,2.50796376 C119.694843,4.13848355 118.187906,5.87200763 116.663508,7.71006199 C115.139869,9.54964235 113.677723,11.3869337 112.277068,13.2249881 C110.877173,15.0638054 109.573691,16.8316643 108.368901,18.5308536 C107.16411,20.2315689 106.136204,21.7484025 105.285183,23.0836433 C104.434921,24.4188841 103.786597,25.5023367 103.344005,26.3355269 C102.899895,27.1679542 102.73212,27.63567 102.839162,27.7402003 C102.874084,27.775298 103.025157,27.7402003 103.291623,27.63567 C103.55733,27.5319027 103.813927,27.4456843 104.062932,27.3754888 C104.310419,27.3075823 104.487304,27.2892704 104.593586,27.3236052 C104.700628,27.3587029 104.629267,27.5326657 104.38178,27.8439676 C104.097094,28.2262279 103.751675,28.6344301 103.344764,29.0670482 C102.937094,29.5011922 102.528665,29.8918455 102.122513,30.2374821 C101.714084,30.5846447 101.315524,30.8707678 100.926073,31.0958512 C100.535105,31.3224607 100.198796,31.4338579 99.9156283,31.4338579 C99.5960209,31.4338579 99.259712,31.3468765 98.9051832,31.1736767 C98.5506545,31.0004769 98.2310471,30.7921793 97.9478796,30.549547 C97.6639529,30.3069146 97.4339267,30.0375775 97.2562827,29.7430615 C97.0793979,29.4485455 96.9905759,29.1792084 96.9905759,28.9358131 C96.9905759,28.4513114 97.2562827,27.6616118 97.7884555,26.5690033 C98.3206283,25.4771578 99.0190576,24.2197425 99.8890576,22.7975203 C100.757539,21.376061 101.758115,19.8409156 102.893822,18.1936099 C104.027251,16.5470672 105.20699,14.8898426 106.429241,13.2249881 C107.652251,11.5601335 108.876021,9.94716261 110.098272,8.38683834 C111.321283,6.82575107 112.455471,5.4393896 113.501597,4.22470196 C114.546963,3.0115403 115.450366,2.02269909 116.213325,1.25970434 C116.975524,0.49747258 117.516047,0.080877444 117.834895,0.0114449213 C117.880812,0.00405466094 117.933234,0.000234613257 117.992183,0 L117.992183,0 Z M101.670052,11.196185 C101.917539,11.196185 102.254607,11.2740105 102.680497,11.4304244 C103.105628,11.5860753 103.495079,11.7684311 103.850366,11.9767287 C104.204136,12.1842632 104.478953,12.4108727 104.674058,12.652742 C104.869162,12.8953743 104.877513,13.1212208 104.700628,13.3287554 C104.488063,13.5721507 104.070524,14.0833572 103.451047,14.8639008 C102.830052,15.6436814 102.129346,16.5463042 101.350445,17.5687172 C100.570026,18.5918932 99.7630366,19.6677158 98.9302356,20.794659 C98.0974346,21.9216023 97.3618063,22.979113 96.7241099,23.9679542 C96.0856545,24.9567954 95.5800524,25.7976156 95.2080628,26.4911779 C94.8360733,27.1855031 94.7206806,27.6020982 94.862644,27.7402003 C94.8975654,27.775298 95.040288,27.7402003 95.288534,27.63567 C95.5360209,27.5319027 95.784267,27.4456843 96.0325131,27.3754888 C96.28,27.3075823 96.4659948,27.2892704 96.5904974,27.3236052 C96.7142408,27.3587029 96.6519895,27.5326657 96.4045026,27.8439676 C96.0856545,28.2262279 95.7311257,28.6344301 95.3409162,29.0670482 C94.951466,29.5011922 94.5437958,29.8918455 94.1186649,30.2374821 C93.693534,30.5846447 93.2858639,30.8707678 92.8956545,31.0958512 C92.5046859,31.3224607 92.168377,31.4338579 91.8852094,31.4338579 C91.5663613,31.4338579 91.2384031,31.3476395 90.9020942,31.1736767 C90.5635079,31.0004769 90.2446597,30.7921793 89.9440314,30.549547 C89.6434031,30.3069146 89.404267,30.0375775 89.226623,29.7430615 C89.0497382,29.4485455 88.9609162,29.1792084 88.9609162,28.9358131 C88.9609162,28.4154506 89.2349738,27.6181211 89.7846073,26.5430615 C90.3342408,25.4687649 91.0341885,24.2716261 91.8852094,22.9539342 C92.7362304,21.6362423 93.6662042,20.2834526 94.6774084,18.8963281 C95.6886126,17.5092036 96.663377,16.2426323 97.6024607,15.0981402 C98.5415445,13.9536481 99.3842147,13.0174535 100.128194,12.2887935 C100.872173,11.5601335 101.386126,11.196185 101.670052,11.196185 Z M83.749267,3.49527897 C83.9967539,3.49527897 84.3254712,3.57310443 84.7331414,3.72951836 C85.1400524,3.88593228 85.5310209,4.06828803 85.9030105,4.2758226 C86.275,4.48412017 86.5581675,4.70996662 86.7540314,4.95183596 C86.948377,5.19523128 86.9567277,5.42031474 86.7798429,5.6286123 L86.7798429,5.6286123 L85.5036911,7.03328565 L87.3112565,7.03328565 C87.8783508,7.03328565 88.0825654,7.18969957 87.9239005,7.50176443 C87.7637173,7.81382928 87.5420419,8.16099189 87.2588743,8.54248927 C86.939267,8.92398665 86.5938482,9.27877921 86.2218586,9.60839294 C85.8498691,9.93876967 85.3974084,10.1028135 84.8659948,10.1028135 L84.8659948,10.1028135 L82.9521466,10.1028135 C81.321466,12.1499285 79.7621466,14.1863615 78.2726702,16.2159275 C76.7831937,18.2439676 75.4986911,20.0919409 74.417644,21.7567954 C73.3358377,23.42165 72.4939267,24.7996185 71.8911518,25.892227 C71.288377,26.9848355 71.0758115,27.6013352 71.2534555,27.7394373 C71.288377,27.7745351 71.4310995,27.7394373 71.6793455,27.634907 C71.9268325,27.5311397 72.1750785,27.4449213 72.4233246,27.3747258 C72.6708115,27.3068193 72.8568063,27.2885074 72.9813089,27.3228422 C73.1050524,27.3579399 73.042801,27.5319027 72.7953141,27.8432046 C72.476466,28.2254649 72.121178,28.6336671 71.7317277,29.0662852 C71.3415183,29.5004292 70.9338482,29.8910825 70.5087173,30.2367191 C70.0835864,30.5838817 69.6751571,30.8700048 69.2857068,31.0950882 C68.8947382,31.3216977 68.5584293,31.4330949 68.2752618,31.4330949 C67.9556545,31.4330949 67.6276963,31.3468765 67.2913874,31.1729137 C66.9535602,30.9997139 66.634712,30.7914163 66.3340838,30.548784 C66.0319372,30.3061516 65.7935602,30.0368145 65.6159162,29.7422985 C65.4390314,29.4477825 65.3502094,29.1784454 65.3502094,28.9350501 C65.3502094,28.4505484 65.7229581,27.5128278 66.4669372,26.1257034 C67.2116754,24.7393419 68.1689791,23.1439199 69.3388482,21.3402003 C70.5087173,19.5372437 71.8023298,17.6465427 73.220445,15.6696233 C74.637801,13.6927039 76.0209948,11.8378636 77.3685079,10.1035765 L77.3685079,10.1035765 L75.666466,10.1035765 C75.1699738,10.1035765 74.9839791,9.92122079 75.1084817,9.55727229 C75.2322251,9.1933238 75.4364398,8.80267048 75.7203665,8.38683834 C76.003534,8.00534096 76.3140314,7.68412017 76.6518586,7.42393896 C76.9874084,7.16375775 77.4398691,7.03404864 78.0069634,7.03404864 L78.0069634,7.03404864 L78.0069634,7.03252265 L79.866911,7.03252265 C80.788534,5.95822604 81.5955236,5.09985694 82.2863613,4.45741536 C82.9779581,3.81649976 83.4653403,3.49527897 83.749267,3.49527897 Z M121.877435,13.7972341 C121.592749,13.6591321 121.087906,13.9193133 120.362147,14.5777778 C119.634869,15.2370052 118.810419,16.1213162 117.888796,17.2307105 C116.966414,18.3416309 116.018979,19.5723414 115.044215,20.9243681 C114.067932,22.2771578 113.200209,23.569671 112.43801,24.8003815 C111.675812,26.031855 111.089738,27.0977587 110.682827,27.9996185 C110.275157,28.9014783 110.195445,29.4386266 110.443691,29.6118264 C110.657016,29.7865522 111.125419,29.5347639 111.853455,28.8579876 C112.579215,28.1812113 113.412775,27.2801144 114.351859,26.1524082 C115.290942,25.0262279 116.256597,23.7779685 117.25034,22.406867 C118.242565,21.0372914 119.129267,19.7363853 119.908927,18.5056748 C120.688586,17.2749642 121.273141,16.2166905 121.66411,15.3323796 C122.052801,14.4480687 122.124162,13.9360992 121.877435,13.7972341 Z M91.2482723,13.5896996 C90.6105759,13.520267 89.839267,13.8063901 88.9351047,14.4480687 C88.0301832,15.0905103 87.0910995,15.9046257 86.1163351,16.8927039 C85.1408115,17.8815451 84.193377,18.9657606 83.2717539,20.1445875 C82.3493717,21.3234144 81.5347906,22.4419647 80.825733,23.4994754 C80.1151571,24.5585122 79.5753927,25.4687649 79.2034031,26.2309967 C78.8314136,26.9939914 78.7160209,27.4456843 78.8587435,27.5830234 C78.8936649,27.6181211 79.1062304,27.4624702 79.4964398,27.1153076 C79.8866492,26.768908 80.3823822,26.2920362 80.9859162,25.6846924 C81.5886911,25.0781116 82.2620681,24.3937053 83.0060471,23.6299475 C83.7500262,22.8677158 84.4955236,22.0871722 85.2395026,21.2890796 C86.2317277,19.7981879 87.2687435,18.3675727 88.3505497,16.9972341 C89.4308377,15.6276586 90.3972513,14.4923224 91.2482723,13.5896996 Z M43.9752356,13.5896996 C43.3375393,13.520267 42.5662304,13.8063901 41.6620681,14.4480687 C40.7579058,15.0905103 39.818822,15.9046257 38.8440576,16.8927039 C37.8677749,17.8815451 36.9203403,18.9657606 35.9987173,20.1445875 C35.0763351,21.3234144 34.2617539,22.4419647 33.5526963,23.4994754 C32.8436387,24.5585122 32.3031152,25.4687649 31.9311257,26.2309967 C31.5591361,26.9939914 31.4429843,27.4456843 31.5857068,27.5830234 C31.6206283,27.6181211 31.8324346,27.4624702 32.2234031,27.1153076 C32.6128534,26.768908 33.1085864,26.2920362 33.7121204,25.6846924 C34.3148953,25.0781116 34.9890314,24.3937053 35.7330105,23.6299475 C36.4777487,22.8677158 37.2224869,22.0871722 37.966466,21.2890796 C38.9586911,19.7981879 39.9957068,18.3675727 41.0775131,16.9972341 C42.157801,15.6276586 43.1242147,14.4923224 43.9752356,13.5896996 Z M28.6082723,13.9528851 C28.5733508,13.8834526 28.3243455,13.9879828 27.8642932,14.2649499 C27.2607592,14.6815451 26.5873822,15.2103004 25.8434031,15.851979 C25.0986649,16.4944206 24.3622775,17.1971388 23.6365183,17.9593705 C22.9092408,18.7223653 22.2275131,19.493753 21.5890576,20.2742966 C20.9506021,21.0548402 20.4184293,21.7918932 19.9948168,22.4846924 C20.4199476,22.4503577 20.9953927,22.1810205 21.7226702,21.678207 C22.4491885,21.1753934 23.2197382,20.5428708 24.0358377,19.779113 C24.8504188,19.0168813 25.6482984,18.175298 26.4287173,17.2558894 C27.2076178,16.3372437 27.8460733,15.4613257 28.3425654,14.6288984 C28.5551309,14.248164 28.6431937,14.0230806 28.6082723,13.9528851 Z M106.562853,4.27734859 C106.916623,4.24301383 107.298482,4.25979971 107.706152,4.32923224 C108.113063,4.39866476 108.494162,4.51082499 108.84945,4.66723891 C109.20322,4.82288984 109.495497,5.02355746 109.726283,5.2654268 C109.957068,5.50882213 110.072461,5.8033381 110.072461,6.14973772 C110.072461,6.42746781 109.867487,6.79980925 109.460576,7.26828803 C109.052906,7.73676681 108.582984,8.19685265 108.05233,8.64701955 C107.519398,9.09794945 106.987984,9.49699571 106.456571,9.84339533 C105.923639,10.1905579 105.515969,10.3813066 105.234319,10.4156414 C104.985314,10.4850739 104.639895,10.4591321 104.197304,10.3370529 C103.753194,10.2164998 103.337173,10.0509299 102.947723,9.84339533 C102.556754,9.63509776 102.272827,9.38407248 102.096702,9.08879351 C101.919058,8.79504053 101.972199,8.49060563 102.256126,8.17854077 C102.575733,7.83290415 102.928743,7.44225083 103.319712,7.00810682 C103.709162,6.5747258 104.107723,6.1672866 104.516152,5.78578922 C104.922304,5.40505484 105.304162,5.06628517 105.65945,4.7710062 C106.012461,4.47725322 106.314607,4.31244635 106.562853,4.27734859 Z"
              id="path-1"
            ></path>
          </svg>
        </a>
      </section>
    </div>
    <footer class="footer" id="footnote">
      {{#if (gt @model.tshirts.count 0)}}
        <span>
          *
        </span>
        We received t-shirts from Teamtailor for good recruiting : )
      {{/if}}
      <lottie-player
        class="a__lottie--worm"
        src="/assets/lottie/worm.json"
        background="transparent"
        speed="1"
        style="width: 100px; height: 100px;"
        loop
        autoplay
      ></lottie-player>
    </footer>
  </div>
  {{#if isShowingModal}}
    {{#modal-dialog
      onClose=(action "toggleModal")
      targetAttachment="center"
      translucentOverlay=true
      containerClass="social-share-modal"
    }}
      Oh hai Mark!
      <button id="modal-button" {{action "toggleModal"}}>
        close
      </button>
    {{/modal-dialog}}
  {{/if}}
</ThemeWrapper>
